{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
</div>
{% endblock content %}

<!--the fieldset seems to be critical to picking up the krispyform thing and getting the right 
form in general i need practice in the building up from the basics parts here-->

<!--the submit bootstrap class beneath this buttom must somehow tell it how to submit the 
form from above which is the form from the method done thru krispyforms which is the new 
password form -->