<!--  this is how to comment out in html -->

{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            <font size="+1"> Already Have An Account? </font><a class="ml-2" href='{% url "Login" %}'>
                <font size="+1">Sign In </font>
            </a>
            <!-- this the proper format for the hrefs but you need to use the NAME of the route -->
        </small>
    </div>
</div>
{% endblock content %}